
  body {
          background-color:#EaF6F6;
  }
h1{
  color:#66BFBF;
}
h3{

  color:#66BFBF;
}











  hr{

      border-style:none;
    border-top-style: dotted;
    border color:yellow;
    border-width:15px;
    width:25%;
}
